.card{
    background-color: var(--background-color-card) !important;
    color: var(--text-color-card) !important;
    margin: 20px;
    width: 288px !important;
    height: 357px !important;
    transition: 0.5s;
}

.card:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: 0.5s;
}

.card-body-link{
    text-decoration: none;
}

.card img{
    width: 286px;
    height: 161px;
    transition: transform 0.5s ease-in-out;
}

.card img:hover{
    transform: scale(1.1);
}

.card-title{
    color: var(--text-color-light) !important;
    padding: 10px;
}

.card-text{
    color: var(--text-color-light) !important;
    padding: 10px;
}

#container-filtros {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}