/* Estilo para que la imagen ocupe toda la ventana disponible*/
.fullscreen-image {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../img/baner-inicio.png') center / cover no-repeat;
    height: 100vh;
    width: 100%;
}

/* Estilo para el carrusel */
.screen-carrusel{
    height: 100%;
    width: 100%;
    background-color: var(--color-secundary-transparent);
}

.title-carrusel {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.content-carrusel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.content-carrusel img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0px 20px;
}

.top-user-carrusel{
    display: flex;
    color: var(--text-color-light);
    justify-content: center;
    align-items: center;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.top-user-carrusel .user{
    margin: 30px 40px 20px 40px;
    height: 100%;
}