:root {
    --button-color: #eebbc3;
    --button-text-color: #232946;

    /* Fondo oscuro */
    --background-color: #232946;
    --title-color: #fffffe;
    --text-color: #b8c1ec;

    /* Fondo claro */
    --background-color-light: #b8c1ec;
    --text-color-light: #232946;
    --color-secondary: #fffffe;
    --color-tertiary: #eebbc3;
  }




/* Estilo de los botones con link */
.button-link{
    text-decoration-line: none;
    color: var(--button-text-color);
}
/* Estilo de secction button toggle */
#section-toggle {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 99%;
}
/* Estilo del button toggle */
#btn-toggle {
    background-color: var(--button-color);
    border: none;
    border-radius: 20px;
    margin: 2px;
    cursor: pointer;
    display: block;
    width: 100%;
}
/* Estilo de la lista de elementos de la Navbar */
.navbar-list {
    list-style-type: none;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    background-position: 20%;
    border-radius: 10px;
}
/* Elementos de la navbar activos */
.navbar-list .active {
    color: var(--button-text-color) !important;
    background-color: var(--button-color);
    border-radius: 10px;
    margin: 2px; 
}
/* Elementod de la navbar desactivos */
.navbar-list .inactive {
    color: var(--title-color) !important; 
}

/* Estilo del dropdown de la navbar */
.dropdown-menu {
    background-color: var(--background-color) !important;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px ;
}

/* Estilo de los elementos del dropdown de la navbar */
.dropdown-menu a {
    color: var(--title-color) !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

/* Estilo de los elementos del dropdown de la navbar al pasar el mouse */
.dropdown-menu a:hover {
    background-color: #eebbc3;
    color: #232946 !important;
}
