:root {
    --button-color: #eebbc3;
    --button-text-color: #232946;

    /* Fondo oscuro */
    --background-color: #232946;
    --title-color: #fffffe;
    --text-color: #b8c1ec;

    /* Fondo claro */
    --background-color-light: #b8c1ec;
    --text-color-light: #232946;
    --color-secondary: #fffffe;
    --color-tertiary: #eebbc3;
}

